{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}

{% block navbar %} 
<div class="category_navbar">
  {% include 'navbar.html' %}
</div>
{% endblock %}

{% block body %}
<div class="search_category">
  <form action="{% url 'search' %}" method="post" id="searchforms">{% csrf_token %}
    <div class="form-group">
       <input type="text" name="searchItems" required id="searchItems" class="form-control" placeholder="Enter Category">
    </div>
    <div class="form-group">
      <input type="submit" name="Search" id="Search" class="btn btn-secondary">
    </div>
  </form>
</div>
<div class="filees_contents" id="filees_contents">
  {% for file in files %}
  <div class="card">
    <div class="images">
      <img src="../media/{{file.images}}" height="200px" id="{{file.location_take}}{{file.id}}" onclick="showModels(this.id)" width="200px" alt="">
    </div>
  </div>
  <!-- model -->
  <div class="models {{file.location_take}}{{file.id}}">
    <div class="subb_models">
          <div class="close_model"><i class="fa-solid fa-xmark" onclick="closeModels()"></i></div>
          <img src="../media/{{file.images}}" height="200px" width="200px" alt="">
          <div class="desc">
            <div class="image_details"><h5>{{file.image_name}}</h5></div>
            <div class="image_details">{{file.image_description}}</div>
            <div class="image_details"><p><span style="font-weight: bold;">Location:</span> {{ file.location_take }}</p></div>
            <div class="image_details"><p><span style="font-weight: bold;">Category:</span> {{ file.image_category }}</p></div>
          </div>
    </div>
  </div>
    <!-- <div  data-bs-toggle="modal" data-bs-target="#exampleModal">
      <img src="{{file.images.url}}" height="200px" width="200px" alt="">
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{file.image_name}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{ file.images.url }}" height="200px" width="100%" alt="">
            <br>
            {{file.image_description}}
            <div class="image_details"><p><span style="font-weight: bold;">Location:</span> {{ file.location_take }}</p></div>
            <div class="image_details"><p><span style="font-weight: bold;">Category:</span> {{ file.image_category }}</p></div>
          </div>
        </div>
      </div>
    </div> -->
  {% endfor %}
</div>
{% endblock %}
<!-- {% for file in files %}
<div class="card">
  <div class="images">
    <img src="../media/{{file.images}}" height="200px" width="200px" alt="">
  </div>
  <div class="models">
    <img src="../media/{{file.images}}" height="200px" width="200px" alt="">
    <div class="desc">
      <div class="image_details"><h5>{{file.image_name}}</h5></div>
      <div class="image_details">{{file.image_description}}</div>
     </div>
  </div>
</div>
    <div class="card">
      <div class="card-body">
       <div id="flex_images">
         <div class="image_models">
           <img src="../media/{{file.images}}" height="200px" width="200px" alt="">
         </div>
        <div class="desc">
         <div class="image_details"><h5>{{file.image_name}}</h5></div>
         <div class="image_details">{{file.image_description}}</div>
        </div>
        </div>
      </div>
   </div>
  {% endfor %} -->