{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}

{% block navbar %} 
<div class="category_navbar">
  {% include 'navbar.html' %}
</div>
{% endblock %}

{% block body %}
<div class="filees_contents">

    <div class="card" style="position: relative;">
      <div class="card-body">
       <div id="flex_images">
         <div class="image_models">
           <img src="../media/{{search.images}}" height="400px" width="100%" alt="">
         </div>
        <div class="desc">
         <div class="image_details"><h5 style="font-weight: bold; text-decoration: underline;">{{search.image_name}}</h5></div>
         <div class="image_details">{{search.image_description}}</div>
         <div class="image_details"><span style="font-weight: bold;">Location: </span>{{get_lication.locations}}</div>
         <div class="image_details"><span style="font-weight: bold;">Category: </span>{{get_category.categories}}</div>
         <div class="copyimages">
             <form action="{% url 'copypaste' search.id %}" method="post">{% csrf_token %}
                <button title="copy"><i class="fa-solid fa-copy"></i></button>
             </form>
         </div>
        </div>
        </div>
      </div>
   </div>
</div>
{% endblock %}