{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}

{% block navbar %} 
<div class="category_navbar">
  {% include 'navbar.html' %}
</div>
{% endblock %}

{% block body %}
<div class="filees_contents">
 {% for single_img in single_img %}
    <div class="card" style="position: relative;">
      <div class="card-body">
       <div id="flex_images">
         <div class="image_models">
           <img src="../media/{{single_img.images}}" height="400px" width="100%" alt="">
         </div>
        <div class="desc">
         <div class="image_details"><h5 style="font-weight: bold; text-decoration: underline;">{{single_img.image_name}}</h5></div>
         <div class="image_details">{{search.image_description}}</div>
         <div class="image_details"><span style="font-weight: bold;">Location: </span>{{ single_img.location_take }}</div>
         <div class="image_details"><span style="font-weight: bold;">Category: </span>{{ single_img.image_category }}</div>
         <div class="image_details"><span style="font-weight: bold;">Description: </span>{{ single_img.image_description }}</div>
         <div class="copyimages">
         </div>
        </div>
        </div>
      </div>
   </div>
   {% endfor %}
</div>
{% endblock %}